* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Microsoft Yahei", Arial, sans-serif;
    line-height: 1.15;
    color: #333;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
}

img {
    border-style: none;
}

ul {
    list-style: none;
}

ul.block {
    display: block;
}

ul.inline {
    display: inline-block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #f06028;
}

a:active,
a:hover {
    outline-width: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.hide {
    display: none;
}

#main-content {
    /*max-width: 1024px;*/
    margin: 0 auto;
}

.section-detail-des,
.section-detail-list {
    font-size: 1.17em;
}

/*** page ***/

#page {
    /*max-width: 1376px;*/
    margin: 0 auto;
}

#header,
.section-content {
    max-width: 1000px;
    margin: 0 auto;
}

.section {
    margin: 2em 0 0 0;
    border-bottom: solid 1px #e6e6e6;
}

#product .section-content {
    max-width: 100%;
    text-align: center;
}

#product .section-card-list {
    display: inline-block;
    max-width: 1376px;
    margin: 0 auto;
}

/*** header ***/
#header {

}

#logo-wrapper {
    display: inline-block;
}

#logo-wrapper .logo {
    display: inline-block;
    width: 500px;
    height: 80px;
    background: url("assets/img/logo.png") center center no-repeat;
    text-indent: -9999px;
}

#menu-wrapper {
    float: right;
}

.menu {

}

.menu li {
    display: inline-block;
    margin: 2em 0 2em 2em;
}

.menu li a {
    font-size: 1.2em;
    color: #999;
}

.menu li a:hover,
.menu li a:active,
.menu li a.active{
    color: #f06028;
}

.menu li a.active {
    border-bottom: solid 3px #f06028;
}



/*** slider ***/
#slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#slider img {
    display: none;
    position: absolute;
    top: 0;

    height: 350px;
    left: 50%;
    margin-left: -790px;

}

#slider img.active {
    display: block;
}

#slider .img-placeholder {
    position: relative;
    visibility: hidden;
    z-index: 0;
}

#slider .img-placeholder img {
    display: block;
    position: static;
}

/*** section ***/
.section {

}

.section-title {
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 3em 0 1em 0;
}

.section-title h3 {
    font-size: 2em;
    font-weight: normal;
    color: #DBC585;
    font-style: italic;
}

.section-title p {
    line-height: 1.8em;
    margin-top: 0.5em;
    color: #999;
}

.section-content {
    padding: 2em 0 2em 0;
}

.section-content p {
    line-height: 1.8em;
}

.section-detail-list {
    margin-top: 1.6em;
    font-size: 1.1em;
}

.section-detail-list li {
    line-height: 2em;
}

.col-left,
.col-right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.col-left {
    padding: 0 3em 0 0;
}


/*** about ***/
#about .section-detail-list li:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 1.7em;
    background: url("assets/img/item-arrow.png") center center no-repeat;
    float: left;
    margin-right: 0.5em;
}

#about-qq-player {
    width: 100%;
    vertical-align: middle;
}

#about-qq-player embed {
    height: 370px;
}


/*** product ***/
#product .section-card-list {
    overflow: hidden;
}

#product .section-card-list li {
    display: block;
    float: left;
    width: 25%;
    padding: 10px;
}

#product .section-card-list img {
    max-width: 100%;
}

#product .section-card-list li .img-wrap {
    text-align: center;
    position: relative;
}

#product .section-card-list li .img-wrap .img-des {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(244, 122, 17, 0.8);
    padding: 10px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;

}

/*** concat form ***/
#concat .section-detail-list {
    line-height: 1.8em;
}

#concat .section-detail-list li {

}

#concat .section-detail-list .label {
    display: inline-block;
    width: 80px;
}

#concat .qr-row .content {
    text-align: center;
}

#concat .qr-code {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-size: contain;
}

#concat .qr-web {
    background-image: url("assets/img/qr-web.png");
}

#concat .qr-penghao {
    background-image: url("assets/img/qr-penghao.png");
}


#concat-map-frame {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: none;

}

/*** footer ***/
#footer {
    text-align: center;
    color: #999;
    margin-top: 3em;
    padding: 3em 0 2em 0;
}

@media screen and (min-width: 768px) {

    #logo-wrapper .logo {
        height: 90px;
    }

    .menu li {
        margin-top: 2.7em;
    }

    .menu li a {
        font-size: 1.2em;
        padding: 5px 8px;
    }

    #product .section-content {
        background-color: #f6f6f6;
    }

    #footer {
        background-color: #f6f6f6;
        margin-top: 0;
    }
}

/*** phone ***/
@media screen and (max-width: 768px) {

    body {
        background: #f6f6f6;
    }

    #main-content {
        padding-top: 1px;

    }

    .section {
        background-color: #fff;
        margin: 10px;
    }

    .section-title {

    }

    .section-content {
        margin-left: 10px;
        margin-right: 10px;
        border-top: solid 1px #f0f0f0;
    }

    .col-left,
    .col-right {
        display: block;
        padding: 0;
        width: 100%;
    }

    .section-detail-des,
    .section-detail-list {
        font-size: 1.2em;
    }

    /*** header ***/
    #header {
        background: url("assets/img/header-bg.jpg") no-repeat;
        background-size: cover;
    }

    #logo-wrapper {
        width: 100%;
    }

    #logo-wrapper .logo {
        display: block;
        width: 100%;
        background: url("assets/img/logo-white.png") center center no-repeat;
    }

    #menu-wrapper {
        background-color: #fff;
        float: none;
    }

    #menu-wrapper .menu li {
        width: 33.3%;
        text-align: center;
        margin: 0;
    }

    #menu-wrapper .menu li a {
        display: block;
        padding: 0;
        line-height: 2.5em;
        color: #666;
        border-bottom: solid 1px #ccc;
    }

    #menu-wrapper .menu li a.active {
        background-color: #f2f2f2;
        color: #f47a11;
        border-bottom: solid 1px #f47a11;
        position: relative;
    }

    #menu-wrapper .menu li a.active:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-bottom: solid 2px #f47a11;
    }

    /*** slider ***/
    #slider {
        margin-top: 10px;
    }

    #slider img {
        height: auto;
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #main-content {
    }

    /*** about ***/
    #about .col-right {
        display: none;
    }

    /*** product ***/
    #product .section-card-list {
        margin: 0 -10px;
        padding: 10px;
    }

    #product .section-card-list li {
        width: 100%;
        padding: 5px;
    }

    /*** concat ***/
    #concat .section-detail-list .label {
        width: auto;
        margin-right: 5px;
    }

    /*** footer ***/
    #footer {
        margin: 0;
        padding: 1.5em 0 4em 0;
        line-height: 1.8em;
    }

    /*** opr-tool ***/
    #opr-tool {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    #opr-tool .to-top,
    #opr-tool .phone {
        display: inline-block;
        padding: 10px;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        width: 50%;
        background-color: rgba(244, 122, 17, 0.8);
    }

    #opr-tool .phone {
        background-color: rgba(255, 66, 0, 0.8);
    }

}


